.tagSuggest ul {margin: 0; padding: 0; background-color: #fff; border: 1px solid #ccc; list-style-type: none;}
.tagSuggest li {margin: 0; padding: 5px 5px;}
.tagSuggest li:hover {cursor: pointer;}
.tagSuggest li.selected {background-color: #bdf;}